body{
     background-image: url(../assets/bg.jpg);
     background-size: cover;

    /* background-blend-mode:screen; */
    font-family:  sans-serif;
    

}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

/* Login page */
.login-wrapper
{
height: 100vh;
width: 100vh;
display: flex;
justify-content:center;
align-items: center;
}

.form{
    position: relative;
    width: 100%;
    max-width:380px ;
    padding:80px 40px 40px;
    background:rgba(0,0,0,0.7);
    border-radius: 10px;
    color:#fff;
    box-shadow:0 15px 25px rgba(0,0,0,0.5);

}

.form::before
{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    width: 50%;
    height:100%;
    background: rgba(255,255,255,0.08);
    border-radius: 10px;
    pointer-events: none;

}

.form img {
    position: absolute;
    top:-50px;
    left:calc(50% - 50px);
    width: 100px;
    background:rgba(255,255,255,0.8);
    border-radius: 50%;

}

.form h2
{
text-align: center;
letter-spacing: 1px;
margin-bottom: 2rem;
color: #ff652f;
}

.form .input-group
{
    position: relative;

}

.form .input-group input
{
    width:100%;
    padding:10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border:none;
    border-bottom: 1px solid #fff;
    outline:none;
    background-color: transparent;
    color: inherit;
}

.form .input-group label
{
    position: absolute;
    top:0;
    left:0;
    padding:10px;
    font-size: 1rem;
    pointer-events: none;
    transition: .3s ease-out;
}

.form .input-group input:focus + label,
.form .input-group input:valid + label{
    transform: translateY(-18px);
    color: #ff652f;
    font-size: .8rem;
}



/* Beginning of  Landing page styling**/
.logo-img{
    margin: 50px;
    width: 200px;
}
.content{
    margin-top: 200px;
    background-color: white;
}
.content-p{
    margin-left: 10px;
}
.content-btn{
    background-color: orange;
    text-decoration: none;
    width: 200px;
    height: 50px;
    margin-left: 70%;
    margin-bottom: 50px;
    border-radius: 25px;
    border-color: orange;
    border: orange;

}
.content-link{
    text-decoration: none;
    color: white;
}
/* End of landing page styling */

/* Beginning of sign up styling */

.box{
    background-color:rgb(230, 180, 81);
    padding-top: 50px;
    width: 460px;
    height: 580px;
    margin-left:30% ;
    margin-bottom: 50px;
    justify-content: center;
    text-align: center;
    box-shadow: 10px 20px lightgray;
    border-radius:25px ;
    
}
.box-select{
    outline: none;
    border-radius: 25px;
    width: 285px;
    margin: 20px;
    padding: 12px 20px;
    background-color: white;
    border: 2px solid orange;
}
.box-input, .box-input:focus{
    outline: none;
    border-radius: 25px;
    border-color: orange;
    border: 2px solid orange;
    padding: 12px 20px;
}
.box-btn{

    display: block;
  margin-left: auto;
  border: none;
  outline: none;
  background: #ff652f;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  
}

.box-btn:hover{
    background-color: teal;
}

.box-span{
    color: orangered;
}
.box-span:hover{
    color: teal;
}
/* End of Sign Up styling */

/* Beginning of Nav bar styling */

.navbar{
    background-color :white;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    /* clip-path:circle(100px at 90% -10%) ;
    transition: all 1s ease-out; */

}
.nav-logo{
    width: 90px;
}

.container-fluid{
    margin: 0;
}
.nav-link{
    /* margin-left: 2rem;
    font-size: 2rem; */
    background-color: white;
    color: black;
    padding-top: 1rem;
}
.nav-image{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 20px;
}

.navigation-items{
    display: inline-block;
    text-decoration: none;

    color: black;
    width: 100%;
    padding-top: 1rem;
    /* border-bottom: 0.5px solid;  */
}

.navigation-items :hover{
   
      background-color:rgb(211, 210, 210);
      border-radius: 5px;
}

.navigation-items h8:hover, h7:hover{
    color: orange; 
  
}

.nav-item2 :hover{
    color: orange;
}


.navbar-side{

    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    z-index: 200;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5); 
    transform: translateX(100%);
    transition: transform 0.3s ease-out;

}
.navbar-side.open{
    transform: translate(0);
}
.navbar-navitems{
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    z-index: 200;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5); 
    transform: translateX(100%);
    transition: transform 0.3s ease-out; 
    overflow-x: hidden;
    overflow-y: auto;
    
}
.navbar-navitems.open{
    transform: translate(0);
    overflow-y: scroll;
}

/* Ending of the nav bar styling */

/* Beginning of terms and conditions styling */
.terms-content{
    margin-top: 200px;
    padding-top: 30px;
    padding-left: 10px;
    width: 100%;
    height: 180px;
    background-color: white;
}
.terms-btn{
    background-color:#f85900;
    text-decoration: none;
    width: 150px;
    height: 50px;
    margin-left: 70%;
    margin-bottom: 50px;
    border-radius: 25px;
    border-color:#f85900;
    outline: none;
    border: #f85900;
    color: white;
}
/* END of terms and conditions styling */

/* Beginning of Home Page styling */
.home-content{
    margin-top: 300px;
    background-color: white;

}

/* End of Home Page styling */

/* Beginning of business Page styling */
.business-chart{
    margin: 5px;
    float: left;
}
.business-content{
  padding: 5px;
  margin: 5px;
  float: right;
  background-color: white;
  width: 770px;
  height: 400px;
}
.company-content{
    float: left;
    margin: 5px;
    width: 1178px;
    height: 200px;
    background-color: white;
}
.business-questions{
    background-color: orange;
    text-align: center;
    width: 70%;
}
.business-cards{
    background-color: white;
    border: 2px solid black;
    margin-left: 200px;
    margin:20px;
    border-radius: 20px;
    height: 260px;
    width: 550px;
    padding-top: 50px;
    box-shadow: 12px 10px black;
    padding-left: 20px;
}
.business-lastcards{
    background-color:transparent;
    margin:80px;
    border-radius: 20px;
    height: 260px;
    margin-bottom: 200px;
    padding-top: 50px;
    transform: translate(0);
}
.business-input{
    border: 2px solid orange;
    height: 70px;
    width: 500px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}
.business-btn{
    background-color: orange;
    color: white;
    width: 200px;
    height: 50px;
    border: 2px solid orange;
    border-radius: 25px;
    margin:20px;
}
.business-btn:hover{
    background-color: black;
    border: 2px solid white;
}
/* End of Business Page styling */

/* Beginning of Resources page styling */
.resource-categories{

    margin: 50px;
    width: 200px;
    height: 200px;
    border: 2px solid orange;
    background-color: white;
    box-shadow: 10px 20px lightgray;
    position: relative;
}
/* End of Resources page styling */

/* Beginning of Feed page styling */
.feed-nav{
    float: left;
    background-color: orange;
    width: 150px;
    height: 800px;
}
.feed-items{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.feed-items:hover{
    text-align: center;
    padding: 10px;
    color: #098bdb;
    text-decoration: none;
}
.feed-icon{
    color: white;
}
.feed-search{
    margin-top: 20px;
    float: right;
    background-color: transparent;
    width: 200px;
    margin-right: 500px;
}
.feed-input{
    width: 400px;
    margin-top: 400px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    outline: none;
    border: 2px solid orange;
    position: absolute;
}
.feed-content{
    margin-top: 50px;
    width: 400px;
    height: auto;
    margin-right: 20px;
    background-color: white;
    display: -webkit-inline-box;
    border-radius: 25px;
    position: relative;
}
.feed-profile{
    float: left;
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 0.5px solid black;
}
.feed-container{
    margin-right: 50px;
    border: 2px solid white;
    background-color: lightsteelblue;
    position: relative;
    padding: 20px;
    float: right;
    width: 90%;
    height: 510px;
    overflow-y: scroll;
    margin-Top:600px

}
.feed-banner{
    
    float: right;
    width: 100%;
    color: black;
}
.feed-gradient{
    margin-right: 50px;
    margin-left: 65px;
    align-self: center;
    margin-top: 565px;
    float: right;
    width: 90%;
    height: 50px;
    position: absolute;
    background-color: #f85900;
}
.feed-gradient-footer{
    margin-right: 50px;
    float: right;
    width: 90%;
    height: 50px;
    background-color: #f85900;
}
/* End of Feed page styling */

/* Beginning of scrollbar page styling */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    color: lightblue;
    background: white;
}
::-webkit-scrollbar-thumb{
    color: black;
    background: black;
    border-radius: 25px;
}
::-webkit-scrollbar-button{
    color: orange;
    background-color: black;
}
/* End of scrollbar page styling */

/* Beginning of Profile page styling */
.profile-content{
    margin: 10px;
    height: 250px;
    background-color: white;
}
.profile-pic{
    float: left;
    margin: 5px;
    width: 150px;
    height: 150px;
    border: 0.5px solid black;
    border-radius: 50%;
}
.profile-namesection{
    height: auto;
}
.profile-btn{
    margin: 20px;
    width: 200px;
    height: 50px;
    background-color: #f85900;
    border: 2px solid #f85900;
    text-decoration: none;
    border-radius: 5px;
    color: white;
}
.profile-btn:hover{
    background-color: black;
    border: 2px solid white;
}
.profile-postsection{
    margin: 10px;
    height: 700px;
    background-color: white;
}
.postsView{
    width: auto;
    display: inline-block;
    margin-top: 20px; 
    margin-right: 20px;
    margin-left: 5px;
    color: black;
    border: 0.5px solid black;
}
.postsView-image{
    float: left;
    width: 40%;
    display: inline;
}
.postsView-content{
    float: right;
    width: 60%;
    padding: 20px;
    text-align: right;

}
/* End of Profile page styling */

/* Beginning of create post page styling */
.Post-main{

    margin: 10px;
    padding: 10px;
    height: 500px;
    background-color: white;
}
.post-imageholder{
    float: left;
    border-radius: 25px;
    background-color: lightgray;
    outline: none;
}
.file-btn{
    content: 'select image';
    background-color: #f85900;
    color: white;
    text-align: center;
    padding-top: 10px;
    height: 50px;
    border-radius: 25px;

}
.file-btn::-webkit-file-upload-button{
    visibility: hidden;
}
.input-section{
    border-radius: 25px;
    float: right;
    margin-right: 300px;
    background-color: lightgray;
    width: 500px;
    height: 400px;
    padding: 10px;
}
.post-btn{
    margin: 10px;
    border-radius: 25px;
    width: 200px;
    background-color: #f85900;
    color: white;
    height: 50px;
    border: 2px solid #f85900;
    outline: none;
}
.post-input{
    border: 2px solid #f85900;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background-color: transparent;
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
}
.post-textarea{
    border-top: 2px solid orange;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid orange;
    background-color: whitesmoke;
    outline: orange;
    width: 400px;
    height: 100px;
}
/*End of post page styling */

/* Beginning of slider drawer styling*/
.side-drawer { 
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    z-index: 200;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5); 
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    overflow-y: scroll;
    
}
.side-drawer.open {
    transform: translateX(0);
}
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    top: 0;
    right: 0;
}
/* End of slider drawer styling*/

/* Beginning ofEdit profile page styling*/
.edit-input-section{
    border-radius: 25px;
    float: right;
    margin-right: 300px;
    background-color: lightgray;
    width: 500px;
    height: 450px;
    padding: 10px;
}
/* Ending ofEdit profile page styling*/
/* Beginning of loading chart element styling*/
.chart-loading{
    color: orange;
    width: 100%;
    height: 30px;
    transition: cubic-bezier(1, 0, 0, 1);
    animation-name: chart;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes chart{
    0%{color:rgb(5, 231, 5);}
    25%{color: blue;}
    50%{color: blueviolet;}
    75%{color: red;}
    100%{color: orange;}
}
/*Ending of loading chart element styling */
/*Beginning of blank feed styling */
.blank-feed{
    width: 400px;
    margin:20px;
    height: 300px;
    border-radius: 25px;
    background-color: white;
    display: -webkit-inline-box;
    position: relative;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: feed;
    opacity: 0.2;
}

@keyframes feed{
    0%{background-color:lightslategray;}
    25%{background-color: lightgray;}
    50%{background-color: lightslategray;}
    75%{background-color: gray;}
    100%{background-color: rgb(175, 170, 170);}
}
/* Ending of blank feed styling*/

/*Beginning of view profile screen*/
.profileView-TopSection{
    width: 100%;
    height: 69px;
    padding-top: 20px;
    color: white;
    background-color:#ff6400;
    /* border-bottom: solid 2px black; */
}
.profileView-back{
    float: left;
    width: 40%;
    padding-left: 20px;
}
.profileView-body{
    margin-top: 20px;
}
.profileView-icon:hover{
    color: black;
}
.profileView-followerSection{
    width: 100%;
}
.profileView-postSection{
    display: inline-block;
    border-top: 2px solid black;
    width: 100%;
    margin-top: 20px;
}
.profileView-banner{
    background-color: black;
    height: 80px;
}
.profileView-bannerIcon{
    float: left;
    text-align: right;
    color: white;
    padding-top: 20px;
    width: 40%;
}
.profileView-bannerTitle{
    float: right;
    width: 60%;
    color: white;
    padding-top: 20px;
    padding-left: 10px;
}
.profileView-posts{
    width: 40%;
    height: 400px;
    display: inline-flex;
    position: relative;
    margin: 10px;
}
.profileView-images{
    width: 300px;
    height: 300px;
}
.profileView-container{
    margin-top: 10px;
    margin-bottom: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100%;
    height: 500px;
    overflow: auto;
    
}
.side-drawer-posts { 
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    z-index: 200;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5); 
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    overflow-y: scroll;
    
}
.side-drawer-posts.open {
    transform: translateX(0);
}
.side-drawer-message { 
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    z-index: 200;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5); 
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    overflow-y: scroll;
    
}
.side-drawer-message.open {
    transform: translateX(0);
}
/*Ending of View profile screen*/

/*Beginning of home styling*/
.resource-body{

    width: 1150px;
    height: 100vh;
    display: -webkit-inline-box;
    align-items: center;

    overflow-y: hidden;

}

.resource-body2{

    width: 100vw;
    height: 100vh;

    align-items: center;
    position: relative;
}

.home-content{
  
    background: inherit;
    margin: 2rem;
    gap:1rem;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    font-family: roboto;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
}


.resources-sectionR{
    grid-area: image;
    background: url("../assets/resources.png");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.resources-sectionF{
    grid-area: image;
    background: url("../assets/feed.png");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.resources-sectionO{
    grid-area: image;
    background: url("../assets/opportunites.png");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.resources-sectionM{
    grid-area: image;
    background: url("../assets/mybusiness.png");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.resources-sectionS{
    grid-area: image;
    background: url("../assets/support.png");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.resources-sectionP{
    grid-area: image;
    background: url("../assets/profile.png");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}




.resources-content p{
    color: grey;
    font-size: 15px;
    font-weight: 300;
}
.resources-content h2{
    margin-top: 0px;
    font-size: 28px;
}


.resources-content{
 
    background: inherit;
    grid-area: text;
    margin: 25px;
    flex-grow:1;
}

.nav-link{
    grid-area: stats;
    display: grid;
    /* clip-path: circle(100px at 90% - 10%);
    transition: all 1s ease-out; */
}

.home-content:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);

}


.section-images{
    float: right;
    width: 40%;
    height: 500px;
    text-align: center;
    margin-top: 20px;
}
.finances-content{
    width: 100%;
    padding: 50px;
    position: relative;

}
.finances-iframe{
    width: 300px;
    height: 200px;
    margin-left: 50px;
}
.project-image{
    margin: 0;
    width: 100%;
    height: 300px;
}

.Opportunities-section{
    margin-top: 300px;
    position: relative;
    background-color: orange;

}
.opportunities-content{
    margin-top: 50px;
    padding: 10px;
    height: 350px;
    float: left;
    width: 50%;
    color: black;
    border-top: 1px solid orange;
    background-color: white;
    
}
.opportunities-links{
    padding-top: 3px;
    margin-top: 50px;
    float: right;
    height: 350px;
    width: 50%;
    color:black;
    border-top: 1px solid orange;

}
.opportunities-categories{

    margin: 50px;
    width: 150px;
    height: 150px;
    border: 2px solid orange;
    background-color: white;
    box-shadow: 10px 20px lightgray;
}
.project-icons:hover{
    color: orange;
}
.messageReceiver{
    float: left;
    width: 50%;
    margin-left: 5px;
    color: white;
}
.messageReceiverR{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    float: left;
    width:auto;
    min-width: 50px;
    min-height: 50px;
    max-width: 50%;
    max-height: auto;
    background-color: black;
    margin-bottom: 20px;
    color: white;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    
}

.messageSender{
    
    float: right;
    width: 50.1%;
    color: white;
}
.messageReceiverS{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    min-width: 50px;
    min-height: 50px;
    max-width: 50%;
    max-height: auto;
    margin-bottom: 20px;
    background-color: orange;
    color: white;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 240px;
}
.message-container{
    display: inline-block;
    overflow: hidden;
    overflow-y: scroll;
    width: 98%;
    height: 380px;
    padding-top: 20px;
    background-image: url('../assets/bg.jpg');
    background-size: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 1);
    background-repeat: repeat-y;
    
}
.message-footer{

    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    
}
.message-input{
    float: left;
    width: 70%;
    height: 50px;
    border-radius: 25px;
    background-color: lightsteelblue;
    border: 0.5px solid lightsteelblue;
    outline: none;
    padding-left: 20px;
}

.message-btn{

    float: right;
    margin-right: 130px;
    border-radius: 25px;
}
.message-btn:hover{
   background-color: orange;
    
}
.decorative{
    height: 200px;
    background-color: orange;
    border-bottom-right-radius: 50px;
}
.contacts-section{
    float: left;
    border-top: 0.5px solid black;
    width: 40%;
    height: 100%;
    position: fixed;
    background-color: white;
}
.contacts-banner{
    background-color: black;
    color: white;
    height: 100px;
    text-align: center;
   
}

.contact{
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    width: 95%;
    border: 1px solid lightslategrey;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.chat-profile-container{
    width: 10%;
    height: 50px;
    float: left;
    text-align: center;
    padding-top: 20px;
    justify-content: center;
}
.chat-content-container{
    margin-top: 10px;
    width: 80%;
    margin-left: 25px;
    height: 50px;
    float: right;
    border-left: 0.5px solid lightslategrey;
    text-align: left;
    padding-top: 5px;
    padding-left: 20px;
}
.chat-profile{
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
}
.chats-section{
    float: right;
    width: 60%;
    height: 100%;
    position: relative;
    background-color: white;
}
.chats-banner{
    background-color: black;
    color: white;
    height: 100px;
    text-align: center;
}


.card_img{
height: 30px;
width: 30px;
}
.banner-image{
    width: 1200px;
    height: 130px;
    position: absolute;
}

.projects-div{
    height: 1500px;
    padding-top: 10px;
    background-color: white;

}
 @media screen and (max-width:600px) {
    .home-content{
        grid-template-columns:repeat(auto-fit,minmax(14rem,16rem));  
    }
    .banner-image{
        padding-top: 10px;
        width: 355px;
        height: 80px;
    }
    .home-image{
        width: 355px;
        height: 250px;
    }
    .home-div{
        width: 355px;
    }
    .resource-body{

        width: 300px;
        height: 100vh;
        display: -webkit-inline-box;
        align-items: center;
    
        overflow-y: hidden;
    
    }
    .navbar-side.open{
        width: 80%;
    }
    .profile-pic{
        width: 50px;
        height: 50px;
        align-self: center;
    }
    .profile-btn{
        margin: 10px;
        width: 120px;
        height: 60px;
        background-color: #f85900;
        border: 2px solid #f85900;
        text-decoration: none;
        border-radius: 5px;
        color: white;
    }
    /* Statistics section*/
    .stats-image{
        width: 355px;
        height: 1200px;
    }
    .business-chart{
        margin-right: 50%;
    }
    .business-content{
        width: 300px;
    }
    .terms-btn{
        background-color:#f85900;
        text-decoration: none;
        width: 150px;
        height: 50px;
        margin-left: 25%;
        margin-bottom: 50px;
        border-radius: 25px;
        border-color:#f85900;
        outline: none;
        border: #f85900;
        color: white;
    }
    /*Resources section*/
    .resources-image{
        width: 356px;
        height: 3000px;
    }
    /*Opportunities*/
    .opportunities-image{
        width: 356px;
        height: 300px;
    }
    .Opportunities-section{
        background-color: white;
    
    
    }
    .opportunities-div{
        width: 356px;
        height: 2500px;
    }
    .opportunities-image{
        width: 350px;
        float: none;
        margin-top: 10px;
    }
    .opportunities-links{
        padding-top: 3px;
        margin-top: 20px;
        float: none;
        height: 555px;
        width: 100%;
        color:black;
        border-top: 1px solid orange;
        background-color: white;
    
    }
    .opportunities-content{
        float: none;
        margin-top: 50px;
        display: inline-block;
        background-color: white;
    }
    /*feed*/
    .feed-div{
        width: 356px;;
    }
    .feed-image{
        width: 356px;
        height: 200px;
    }
    .feed-search{
        margin-top: 2px;
        float: none;
        background-color: transparent;
        width: 80px;
        margin-right: 100px;
    }
    .feed-input{
        width: 200px;
        margin-top: 200px;
        height: 60px;
        border-radius: 30px;
        text-align: center;
        margin-left: 100px;
        outline: none;
        border: 2px solid orange;
        position: absolute;
    }
    .feed-gradient{
        margin-right: 50px;
        margin-left: 5px;
        align-self: center;
        margin-top: 300px;
        float: right;
        width: 90%;
        height: 50px;
        position: absolute;
        background-color: #f85900;
    }
    .feed-container{
        margin-left: 5px;
        border: 2px solid white;
        background-color: lightsteelblue;
        position: relative;
        padding: 20px;
        float: none;
        width: 90%;
        height: 510px;
        overflow-y: scroll;
        margin-top: 350px;
    
    }
    .side-drawer-posts.open{
        width: 80%;
    }
    .side-drawer-message.open{
        width: 100%;
    }
    .side-drawer.open{
        width: 100%;
    }
    .profile-btn{
        margin: 5px;
        width: 120px;
        height: 50px;
        background-color: #f85900;
        border: 2px solid #f85900;
        text-decoration: none;
        border-radius: 5px;
        color: white;
    }
    /*create post*/
   .Post-main{
       height: 2000px;
   }
   .input-section{
    margin-top: 400px;
    border-radius: 25px;
    float: none;
    background-color: lightgray;
    width: 500px;
    height: 400px;
    padding: 10px;
}
/* contacts section*/
.contacts-section{
    float: left;
    border-top: 0.5px solid black;
    width: 40%;
    height: 100%;
    background-color: white;
}
.contacts-banner{
    background-color: #f85900;
    color: white;
    height: 100px;
    text-align: center;
   
}
.chat-search{
    width: 80%;
    border-radius: 25px;
}
.chats-banner{
    background-color: #f85900;
    color: white;
    position: relative;
    height: 100px;
    text-align: center;
}
.message-input{
    width: 130px;
}
.message-btn{
    float: right;
    position: relative;
    margin-right: 10px;
    border-radius: 25px;
}
/*edit profile*/
.edit-input-section{
    border-radius: 25px;
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    background-color: lightgray;
    width: 300px;
    height: 450px;
    padding: 10px;
}
.file-btn{
    content: 'select image';
    background-color: #f85900;
    color: white;
    text-align: center;
    padding-top: 10px;
    height: 50px;
    border-radius: 25px;
    width: 250px;
    margin-bottom: 5px;

}
.post-textarea{
    margin-top: 5px;
    width: 250px;
}
.post-btn{
    background-color: black;
    border-color: black;
}
/* support image*/
.support-image{
    width: 350px;
    height: 2200px;
}
    
} 